#guestPopup{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.72);

    backdrop-filter:blur(10px);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:99999;

    animation:fadeIn .25s ease;

}

.popup{

    width:450px;

    max-width:95%;

    background:var(--card);

    border:1px solid var(--border);

    border-radius:20px;

    box-shadow:var(--shadow);

    padding:30px;

}

.popup h2{

    color:var(--accent2);

    margin-bottom:15px;

}

.popup p{

    color:var(--text2);

    margin-bottom:20px;

    line-height:1.7;

}

.popup ul{

    margin-left:20px;

    margin-bottom:25px;

    color:var(--text2);

}

.popup li{

    margin-bottom:10px;

}

.popupButtons{

    display:flex;

    gap:12px;

}

.popupButtons button{

    flex:1;

    padding:14px;

    border-radius:12px;

    font-size:15px;

}

#popupLogin{

    background:var(--accent);

    color:white;

}

#popupLogin:hover{

    box-shadow:var(--shadow);

}

#popupContinue{

    background:var(--card2);

    color:white;

}

#popupContinue:hover{

    border:1px solid var(--accent);

}

@keyframes fadeIn{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}
